* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
}

.first-section, 
footer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1050px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.menu span {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menu ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container-first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 400px;
    margin-bottom: 50px;
    gap: 10px;
}

.first-section-text,
.first-section-img {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section-img figure {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section-img img {
    height: 70%;
    width: 100%;
}

.first-section-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    padding: 0;
}

.first-section-text p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.first-section-text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    align-self: flex-start;
    padding: 10px 30px;
}

.second-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.second-section h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    width: 1050px;
    text-align: center;
}

.second-section-container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 220px;
    gap: 10px;
}

.card > figure {
    border: 2px solid blue;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
}
.card > p {
    text-align: center;
    width: 150px;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
    gap: 10px;
}

.third-section p {
    width: 1050px;
    text-align: justify;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.third-section span {
    width: 1050px;
    text-align: right;
    color: #1f2937;
    font-weight: 900;
    font-size: 25px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.fourth-section-container {
    width: 1050px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
}

.fourth-section-container .p1{
    font-size: 25px;
    font-weight: 900;
    color: #e5e7eb;
}

.fourth-section-container .p2{
    font-size: 18px;
    color: #e5e7eb;
}

.fourth-section-container button {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    color: #e5e7eb;
    padding: 5px 30px;
}

footer {
    padding: 30px;
    color: #e5e7eb;
    font-size: 18px;
}